html,body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    box-sizing: border-box;
    width: 100%;
    background:linear-gradient(to right, rgba(113, 110, 127, 0.845),rgb(59, 74, 59));
}

header{
    background:linear-gradient(to right, rgb(64, 56, 103),rgb(76, 112, 76));
    text-align: center;
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top: 0%;
}
header .image{
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 50px;
}
header .image img{
    height: 140px;
    
}
header .name{
    font-size:x-large;
    font-weight: bold;
}
header .profession{
    font-size: small;
    padding-bottom: 10px;
}

main{
    line-height: 1.8;
    margin: 15px;
}
.nav_bar{
    background-color: rgb(27, 26, 26);
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 35.4%;
}

.nav_bar a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    flex:100px;
    padding: 5px;
    color: white;
    flex-wrap: wrap;
}


.nav_bar a:not(.active):hover{
    background-color: rgb(47, 45, 45);
    color: rgb(255, 255, 255);
    transition-duration: 0.6s;
}

.nav_bar .active{
    background-color: white;
    color: rgb(0, 0, 0);
}

.nav_bar #hoi{
    flex: 160px;
}

main .edu{
    width: 100%;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 20px;
}

main .edu .college_place{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

main .edu *{
    margin: 0%;
    color: white;
}

main .edu .college_place #college{
    font-size: 15px;
    font-weight: 600;
    word-wrap: break-word;
}
main .edu .college_place #place{
    font-size: 10px;
    font-weight: 600;
    align-content: center;
}

main .edu .course,.cgpa,.duration{
    font-size:10px;
}
