html,body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 87, 87);
}

header{
    background:linear-gradient(to right, rgb(64, 56, 103),rgb(76, 112, 76));
    text-align: center;
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top: 0%;
}
header .image{
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 50px;
}
header .image img{
    height: 140px;
    
}
header .name{
    font-size:x-large;
    font-weight: bold;
}
header .profession{
    font-size: small;
    padding-bottom: 5px;
}
.nav_bar{
    background-color: rgb(27, 26, 26);
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 35.4%;
}
.nav_bar a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    flex:100px;
    padding: 5px;
    color: white;
    flex-wrap: wrap;
}
.nav_bar a:not(.active):hover{
    background-color: rgb(47, 45, 45);
    color: rgb(255, 255, 255);
    transition-duration: 0.6s;
}

.nav_bar .active{
    background-color: white;
    color: rgb(0, 0, 0);
}

.nav_bar #hoi{
    flex: 160px;
}

.about_me{
    margin: 10px;
}
.about_me .section{
    text-align: justify;
}

header .contact_information{
    margin-bottom: 5px;
}

header .contact_information a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}