html,body{
    font-family: sans-serif;
    margin:0px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(107, 102, 116);
}
header{
    background:linear-gradient(to right, rgba(77, 73, 94, 0.845),rgb(48, 55, 48));
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
header .image{
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 50px;
}
header .image img{
    height: 140px;
    
}
header .name{
    font-size:x-large;
    font-weight: bold;
}
header .profession{
    font-size: small;
    padding-bottom: 10px;
}

main{
    line-height: 1.8;
    margin: 15px;
}
.nav_bar{
    background-color: rgb(27, 26, 26);
    display: flex;
    flex-wrap: wrap;
}

.nav_bar a{
    text-decoration: none;
    display: inline-block;
    flex: 70px;
    text-align: center;
    padding: 5px;
    color: white;
    flex-wrap: wrap;
}

.nav_bar a:not(.active):hover{
    background-color: rgb(95, 84, 84);
    color: black;
    transition-duration: 0.6s;
}

.nav_bar .active{
    background-color: white;
    color: rgb(0, 0, 0);
}


.nav_bar #hoi{
    flex: 135px;
}

